[core]
	editor = emacs

[color]
	ui = auto
	interactive = auto

[branch]
	autosetuprebase = always

[merge]
	stat = true

[rebase]
	stat = true

[push]
	default = simple

[pager]
	status      = true
	show-branch = true
