[core]
	editor = emacs

[color]
	ui = auto
	interactive = auto

[branch]
	autosetuprebase = always

[merge]
	stat = true

[rebase]
	stat = true

[push]
	default = upstream

[pager]
	status      = true
	show-branch = true
[user]
	name = Francesco Gigli
	email = jaramir@gmail.com
